body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.viewtab-map {
  width: 100%;
  height: 100%;
}

.widget-map {
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  margin: -.5rem;
}

.viewtab-card-full-height {
  height: calc(100vh - 280px)
}

.marker {
        display: block;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        padding: 0;
}

.maplibregl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        color: black;
    }