
{% extends 'generic/object.html' %}
{% load render_table from django_tables2 %}


{% block content %}
  <div class="row mb-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">NetBox Sitemap Plugin</h5>
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Regions</th>
              <td>{{ object.get_regions_display }}</td>
            </tr>
            <tr>
              <th scope="row">Site Groups</th>
              <td>{{ object.get_site_groups_display }}</td>
            </tr>
            <tr>
              <th scope="row">Sites</th>
              <td>{{ object.get_sites_display }}</td>
            </tr>
          </table>
        </div>
      {% include 'inc/panels/custom_fields.html' %}
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/tags.html' %}
      {% include 'inc/panels/comments.html' %}
    </div>
  </div>
{% endblock content %}